@model BlogViewModel
@* 部落格 - 首頁 *@
<div class="grid-container h100 pt-content relative">
    <div class="theme">BLOGS</div>

    <div class="sign">
        <nav>
            <a class="prev" asp-controller="Home">PREV</a>
            <a class="next" asp-controller="Work">NEXT</a>
        </nav>
    </div>

    <div class="column-15 pre-2 h100 z999">
        @foreach (var blog in Model.Blogs)
        {
            <div class="blog-unit js-blog-unit" data-tags="@string.Join(";", blog.BlogTags.Select(x => x.Id))">
                <a name="@blog.Name"></a>

                <div class="blog-archive">@blog.ReleaseDate.ToString("yyyy.MM")</div>

                <div class="blog-info">
                    <span>@blog.ReleaseDate.ToString("yyyy/MM/dd")</span>
                    <span>@string.Join(" ", blog.BlogTags.Select(x => $"#{x.Tag.Name}"))</span>
                </div>

                <h4 class="blog-title">@blog.Name</h4>

                <div class="blog-content">
                    @foreach (var post in blog.BlogPosts)
                    {
                        switch (post.ReferenceType)
                        {
                            case ReferenceTypeEnum.Image:
                                <img class="blog-img" src="@post.ReferenceContent">
                                break;

                            case ReferenceTypeEnum.Text:
                                <p class="blog-article">@post.ReferenceContent</p>
                                break;

                            case ReferenceTypeEnum.Video:
                                <video class="blog-video" controls>
                                    <source src="@post.ReferenceContent" type="video/mp4" />
                                </video>
                                break;
                        }
                    }
                </div>

                <div class="community-g">
                    <span>share to:</span>
                    <a class="btn icon-twitter" href="https://twitter.com/share?url=https://simplesharebuttons.com&amp;text=Simple%20Share%20Buttons&amp;hashtags=simplesharebuttons" target="_blank"></a>
                    <a class="btn icon-fb" href="http://www.facebook.com/sharer.php?u=https://simplesharebuttons.com" target="_blank"></a>
                </div>
            </div>
        }
    </div>

    <div class="column-5 z999 date-group ">
        <div class="date-div">
            <div class="btn date center">ARCHIVES</div>

            <ul>
                @foreach (var blogs in Model.Blogs.GroupBy(x => x.ReleaseDate.ToString("yyyyMM")).OrderByDescending(y => y.First().ReleaseDate))
                {
                    <li>
                        <span>@blogs.First().ReleaseDate.ToString("yyyy MM")</span>
                        <ul>
                            @foreach (var blog in blogs)
                            {
                                <li><a href="@string.Format("#{0}", blog.Name)">@blog.Name</a></li>
                            }
                        </ul>
                    </li>
                }
            </ul>
        </div>

        <div class="date-div">
            @foreach (var tag in Model.Tags)
            {
                <div class="btn tag center js-blog-tag" data-tagid="@tag.Id">@tag.Name</div>
            }
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/site.blog.js"></script>
}