@model IEnumerable<BlogEntity>

<div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">部落格管理</li>
        </ol>
    </nav>
</div>

<div>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>部落格名稱</th>
                <th>發行日期</th>
                <th>更新時間</th>
                <th>標籤管理</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td><a asp-controller="BlogPost" asp-action="Index" asp-route-blogId="@item.Id" title="部落格內容管理">@item.Name</a></td>
                    <td>@item.ReleaseDate</td>
                    <td>@item.UtcUpdateTime.ToLocalTime()</td>
                    <td>
                        <a class="icon-detail" asp-controller="BlogTag" asp-action="Index" asp-route-issueId="@item.Id" title="部落格標籤"></a>
                    </td>
                    <td>
                        <a class="icon-update" asp-controller="Blog" asp-action="Update" asp-route-id="@item.Id" title="編輯"></a>
                        <a class="icon-delete" asp-controller="Blog" asp-action="Delete" asp-route-id="@item.Id" title="刪除"></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts{
    <script>
        initDataTable($('table'), '/Blog/Create');
    </script>
}