@model IEnumerable<FGViewCategoryEvnentEntity>

@{ 
    var category = ViewBag.Category as FGViewCategoryEntity;
}

<div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="FGViewCategory" asp-action="Index">焰世代 - 世界觀分類管理</a></li>
            <li class="breadcrumb-item active" aria-current="page">事件管理 - <span>@category.Name</span></li>
        </ol>
    </nav>
</div>

<div>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>排序</th>
                <th>名稱</th>
                <th>標題</th>
                <th>資源連結</th>
                <th>內文</th>
                <th>更新時間</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.OrderBy(x => x.Sort))
            {
                <tr>
                    <td>@item.Sort</td>
                    <td>@item.Name</td>
                    <td>@item.Title</td>
                    <td>@item.ResourceUrl</td>
                    <td>@item.Intro</td>
                    <td>@item.UtcUpdateTime.AddHours(8).ToString("yyyy/MM/dd HH:mm:ss")</td>
                    <td>
                        <a class="icon-update" asp-controller="FGViewCategoryEvent" asp-action="Update" asp-route-id="@item.Id" title="編輯"></a>
                        <a class="icon-delete" asp-controller="FGViewCategoryEvent" asp-action="Delete" asp-route-id="@item.Id" title="刪除"></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts{
    <script>
        initDataTable($('table'), '/FGViewCategoryEvent/Create?categoryId={0}'.format(@category.Id));
    </script>
}
