@using XinRevolution.Database.Enum.FireGeneration

@model FireGenerationRoleViewModel

@{
    var frontResourcePath = Model.Role.Resources.Single(x => x.Type == FGRoleResourceTypeEnum.Character1);
    var backResourcePath = Model.Role.Resources.Single(x => x.Type == FGRoleResourceTypeEnum.Character2);
}

@* 焰世代 - 角色 *@
<div class="grid-container pt-content h100">
    <a class="btn return" asp-controller="FireGeneration" asp-action="Index">return</a>

    <div class="character">
        <div class="front">
            <div>
                <img src="@frontResourcePath" alt="@Model.Role.Name">
            </div>
        </div>
        <div class="back">
            <div>
                <img src="@backResourcePath" alt="@Model.Role.Name">
            </div>
        </div>
    </div>


    <div class="column-8 pre-16 h100">
        <div class="characterInfo">
            <div class="nameDiv">
                <h4>@Model.Role.Name</h4>

                <p>@Model.Role.Intro</p>

                @if (!string.IsNullOrEmpty(Model.Role.RelativeLinkUrl))
                {
                    <a href="@Model.Role.RelativeLinkUrl">More</a>
                }
            </div>

            <hr>

            <div>
                <div>Equipment</div>

                <div class="js-firegeneration-equiptments-container">
                    @foreach (var equipment in Model.Role.Equipments.OrderBy(x => x.Sort))
                    {
                        <div>
                            <div><img src="@equipment.SlideResourceUrl" /></div>

                            <div><p>@equipment.Intro</p></div>

                            <div><img src="@equipment.MainResourceUrl" /></div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    <partial name="/Views/FireGeneration/_Navigator.cshtml" />
</div>

@section Styles{
    <link rel="stylesheet" href="~/lib/slick/css/slick.css" />
    <link rel="stylesheet" href="~/lib/slick/css/slick-theme.css" />
}

@section Scripts{
    <script src="~/lib/slick/js/slick.min.js"></script>
    <script src="~/js/firegeneration/firegenration.role.js"></script>
}